@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> İt is a project based on Identity Tech of Asp.NET EF Core basics. You can view it from my <a href="https://github.com/Thandei" target="_blank">Github</a> account </p>
</div>
